
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: aqua;
  }
  
  button {
    margin-right: 15px;
    margin-left: 15px;
  }
  p{

    margin-left: 530px;
  }

  